<div class="article">
  <h1>
    How to contact me
    <div class="seperator">
    </div>
  </h1>
  <p>
  	You can find me at anyone of these places:
  	<ul>
  		<li>
  			Mail: <a href="mailto:almogfr@gmail.com">almogfr@gmail.com</a>
  		</li>
      <li>
        Github: <a href="https://github.com/Teren9">https://github.com/Teren9</a>
      </li>
  		<li>
  			Twitter: <a href="https://twitter.com/teren9">@teren9</a>
  		</li>

  	</ul>
  </p>
</div>
