<div class="article">
  <h1>
    Welcome!
    <div class="seperator"></div>
  </h1>
    <p>
      Hello and welcome to my online portfolio.
    </p>
    <p>
      My name is Almog Friedman and I'm currently studying Electrical Engeneering at the <a href="ariel.ac.il">University of Ariel</a>.
      I'm currently in my third year of my B.Sc degree.
    </p>
    <p>
      Other than that, my interests lay on a vast range of areas including: Computer Science, Systems Management, and more.
    </p>
    <p>
      The purpose of this site is to act as an all-in-one place for showing everything I do.
    </p>
  <p>
  	This site is yet very much under construction, but, if you want to contact me, you can find me here:
  	<ul>
  		<li>
  			Mail: <a href="mailto:almogfr@gmail.com">almogfr@gmail.com</a>
  		</li>
      <li>
        Github: <a href="https://github.com/Teren9">https://github.com/Teren9</a>
      </li>
  		<li>
  			Twitter: <a href="https://twitter.com/teren9">@teren9</a>
  		</li>

  	</ul>
  </p>
</div>
